# Root
node_modules/
.DS_Store

# Smart Contracts
smartcontracts/out/
smartcontracts/cache/
smartcontracts/broadcast/
smartcontracts/lib/
smartcontracts/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDEs
.vscode/
.idea/
